pypdf # loading PDFs
# langchain #LLM library
# langchain_community #LLM library
langchain #LLM library
langchain-community #LLM library
chromadb # Vector storage
pytest # Unit testing
boto3 # AWS Software Development Kit (SDK) for Python